:root {
    --primary-color: #595F39;
    /* Dark green for backgrounds */
    --secondary-color: #C4C5BA;
    /* Neutral gray green for backgrounds */
    --accent-color: #F2B552;
    /* Yellow for buttons, highlights */
    --background-color: #E4E4DE;
    /* Light gray for page background, light text */
    --text-color: #1B1B1B;
    /* Default dark text color */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-color);
}